@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-coal-950: #121212;
  --color-coal-900: #1a1a1a;
  --color-coal-800: #262626;
  --color-coal-700: #333333;
  --color-coal-600: #404040;
  --color-coal-500: #666666;
  --color-coal-400: #808080;
  --color-coal-300: #999999;
  --color-coal-200: #cccccc;
  --color-coal-100: #e6e6e6;
  --color-bistre: #332411;
  --color-walnut: #6b5f4e;
  --color-tan: #d2b48c;
  --color-sunset: #ffdbab;
  --color-lion: #ad9574;
  --color-light: #f5f5f5;
}

body {
  background-color: var(--color-coal-950);
  color: var(--color-coal-100);
  @apply antialiased;
}

.btn {
  @apply px-4 py-2 rounded-md transition-colors duration-200 font-semibold;
}

.btn-primary {
  @apply bg-blue-500 text-white hover:bg-blue-600;
}

.btn-secondary {
  @apply bg-gray-200 text-gray-800 hover:bg-gray-300;
}

.btn-discord {
  @apply bg-indigo-600 text-white hover:bg-indigo-700;
}

input[type='number'] {
  @apply border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

/* Add these Menubar styles */
.MenubarRoot {
  display: flex;
  background-color: var(--coal-900);
  padding: 0;
  font-family: var(--font-display);
}

.MenubarTrigger {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  color: var(--coal-300);
  transition: color 0.2s ease;
}

.MenubarTrigger:hover {
  color: var(--coal-100);
}

.MenubarContent,
.MenubarSubContent {
  min-width: 220px;
  background-color: rgba(26, 26, 26, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 6px;
  padding: 5px;
  border: 1px solid var(--coal-800);
  box-shadow:
    0 10px 38px -10px rgba(0, 0, 0, 0.45),
    0 10px 20px -15px rgba(0, 0, 0, 0.3);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.MenubarItem {
  all: unset;
  font-size: 14px;
  line-height: 1;
  color: var(--coal-300);
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10px;
  position: relative;
  user-select: none;
  outline: none;
}

.MenubarItem:hover {
  color: var(--coal-100);
  background-color: rgba(38, 38, 38, 0.8);
  cursor: pointer;
}

.MenubarSeparator {
  height: 1px;
  background-color: var(--coal-800);
  margin: 5px;
}
